.products-container {
  height: 100vh;
}

.products {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.products-icon {
  height: 100px;
}

.products-title {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 32px;
}
